{% extends 'authapp/base.html' %}

{% block title %}
    <title>Вход</title>
{% endblock %}

{% block container %}
    <h3 class="text-muted">Вход</h3>
    <form action="{% url 'auth:login' %}?next={{ next }}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {{ login_form.as_p }}
        <input class="form-control" type="submit" value="войти">
        <div class="btn-group" role="group">
            <a href="{% url 'auth:social:begin' 'google-oauth2' %}?next=/" class="btn btn-link">Google+</a>
            <a href="{% url 'auth:registration' %}?next=/" class="btn btn-link">Регистрация</a>
        </div>
    </form>
{% endblock %}