{% extends 'adminapp/base.html' %}

{% load staticfiles %}

{% block content %}
    <a class="btn btn-info m-1" href={% url 'admin:category_create' %}>новая категория</a>
    <div class="list-group">
    {% for object in object_list %}
        <div class="list-group-item list-group-item-info flex-column align-items-start m-1
            {% if not object.is_active %}
             disabled
           {% endif %}">
            <h5 id="name" class="category_name">
                {{ object.name|title }}
            </h5>
            <div class="btn-group" role="group">
                <a class="btn btn-primary btn-sm" href={% url 'admin:products' object.pk %}>
                    товары категории
                </a>
                <a class="btn btn-primary btn-sm" href={% url 'admin:category_update' object.pk %}>
                    редактировать
                </a>
                {% if object.is_active %}
                    <a action="del"
                        object="category/{{ object.pk }}"
                        parent="list-group-item"
                        url="{% url 'admin:ajax_confirm' %}"
                        class="btn btn-primary btn-sm" href={% url 'admin:category_delete' object.pk %}>
                        удалить
                    </a>
                {% else %}
                    <a action="restore"
                       object="category/{{ object.pk }}"
                       parent="list-group-item"
                       url="{% url 'admin:ajax_confirm' %}"
                       class="btn btn-primary btn-sm" href={% url 'admin:category_restore' object.pk %}>
                        восстановить
                    </a>
                {% endif %}
            </div>
            <small>
                {{ object.description }}
            </small>
        </div>
    {% endfor%}
    </div>
{% endblock %}

{% block confirm %}
    {% include 'adminapp/includes/inc_confirm.html' %}
{% endblock %}
