{% extends 'adminapp/base.html' %}

{% load paginator_tag %}


{% block content %}
    <a class="btn btn-info m-1" href={% url 'admin:product_create' category.pk %}>новый продукт</a>
    <nav class="w-100">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'admin:products' category.pk %}{{ page_obj.previous_page_number|paginator }}">&laquo;</a>
                </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link">страница {{ page_obj.number }} из
                    {{ page_obj.paginator.num_pages }}
                </span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{% url 'admin:products' category.pk %}{{ page_obj.next_page_number|paginator }}">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="card-deck">
    {% for object in object_list %}
        <div style="min-width: 250px" class="card">
            <img width="245px" class="card-img-top" src="{{object.image.url }}" alt="{{ object.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ object.name|title }}</h5>
                <p class="card-text">{{ object.short_desc }}</p>
                <div>
                    <a class="btn btn-link btn-sm" href="{% url 'admin:product_read' object.pk %}">подробнее</a>
                    <a class="btn btn-link btn-sm" href="{% url 'admin:product_update' object.pk %}">редактировать</a>
                    <a class="btn btn-link btn-sm" href="{% url 'admin:product_delete' object.pk %}">удалить</a>
                </div>
            </div>
            <div class="card-footer">
                <small class="text-muted">цена: {{ object.price }}</small>
                <small class="text-muted">кол-во: {{ object.quantity }}</small>
                {% if not object.is_active %}<small class="text-muted float-right">удален</small>{% endif %}
            </div>
        </div>
    {% endfor%}
    </div>
{% endblock %}
