{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block content %}

    <div class="list">
        <div class="breadcrumbs">
            <a href="{% url 'index' %}">Главная &raquo </a>
            <a href="{% url 'category:index' %}">Категории &raquo </a>
            <a href="{% url 'about' product %}">{{ product|capfirst }}</a>
        </div>
        <div class="card">
            <div class="price">{{ product.price }}</div>
            <div class="product">
                <img src="{{ product.image.url }}" alt="{{ product|capfirst }}">
                <a href="{% url 'basket:add' slug=product.slug %}" class="buy action">в корзину</a>
            </div>
        </div>
        <div class="about-card">
            <h4>{{ product.name|upper }}</h4>
            <h3>Описание товара</h3>
            <p>{{ product.short_desc }}</p>
            <h3>Подробное описание товара</h3>
            <p>{{ product.description }}</p>
        </div>
    </div>

{% endblock %}

{% block js %}

    {{ block.super }}
    <script src="{% static 'js/mainapp/basket.js' %}"></script>

{% endblock %}