{% extends 'mainapp/base.html' %}

{% load staticfiles %}

{% block header-adv %}
    <div class="adv">
        <div class="h-buy">
            <div class="price">{{ hot_product.price }}</div>
            <h3>{{ hot_product.name|capfirst }} новая модель {% now 'F Y' %}</h3>
            <p>{{ hot_product.short_desc }}</p>
            <a href="{{ hot_product.get_absolute_url }}">подробнее</a>
            <a name="{{ hot_product.name }}" href="{% url 'basket:add' slug=hot_product.slug %}" class="action">в корзину</a>
        </div>
        <div class="welcome">
            <h3>Добро пожаловать в bromobarcelona</h3>
            <p>Магазин умных сумок и рюкзаков</p>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="list">
        <div class="name-col">Новая коллекция</div>

        {% for product in same_product %}
            <div class="card">
                <div class="price">{{ product.price }}</div>
                <div>
                    <a href="{{ product.image.url }}">
                        <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name|upper }}">
                    </a>
                </div>
                <div class="about-prod">
                    <h4>{{ product.name|capfirst }}</h4>
                    <a href="{{ product.get_absolute_url }}">Описание товара</a>
                    <a name="{{ product.name }}" href="{% url 'basket:add' slug=product.slug %}" class="btn btn-danger btn-sm to-basket action">в корзину</a>
                </div>
            </div>
        {% endfor %}

    </div>
    <div class="insta-feed">
        <div><img src="{% static 'img/insta icon.png' %}" alt=""> Instagram feed: <span class="htag">#bromobarcelona</span></div>
        <div class="inst">
            <img src="{% static 'img/Livello 25.png' %}" alt="live 25">
            <img src="{% static 'img/Livello 26.png' %}" alt="live 26">
            <img src="{% static 'img/Livello 27.png' %}" alt="live 27">
            <img src="{% static 'img/Livello 28.png' %}" alt="live 28">
            <img src="{% static 'img/Livello 29.png' %}" alt="live 29">
            <img src="{% static 'img/Livello 30.png' %}" alt="live 30">
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/mainapp/basket.js' %}"></script>
{% endblock %}